In [4]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [10]:
import pandas as pd

file_path = 'machine.txt'

# Specifying the encoding
encoding = 'utf-16'

# Tab delimiter
data = pd.read_csv(file_path, sep='\t', encoding=encoding)

data.head()

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5

In [12]:
data.shape

(10, 2)

In [15]:
# Display the column names in the DataFrame
print(data.columns)

Index(['New machine', '    Old machine'], dtype='object')

In [17]:
# Removing extra whitespace from column names
data.columns = data.columns.str.strip()

In [19]:
#Testing hypothesis if new machines packs cartons faster on average than the current machines. 

new_machine_times = data['New machine']
old_machine_times = data['Old machine']

# Performing one-tailed paired t-test
t_statistic, p_value = ttest_rel(new_machine_times, old_machine_times)

# Print results
print(f'Test Statistic: {t_statistic}')
print(f'P-Value: {p_value}')

# Check significance level
alpha = 0.05
if p_value < alpha:
    print("There is sufficient evidence to reject the null hypothesis.")
else:
    print("There is not enough evidence to reject the null hypothesis.")

Test Statistic: -3.0614273841115844
P-Value: 0.013540335651632521
There is sufficient evidence to reject the null hypothesis.

In [20]:
# the p-value is 0.0135 (is less than 005, which is less than 0.05. This indicates that there is sufficient evidence to reject the idea that there is no difference in packing times between the new and old machines.
# there is evidence that the new machine packs cartons faster on average than the old machine.

In [ ]:
# The negative test statistic, combined with the small p-value (0.0135), led to the rejection of the null hypothesis, providing evidence in favor of the alternative hypothesis that the new machine packs faster on average than the old machine.